.contacto-titulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: $estilo-border;    
    background-color: bg-color;
    margin: 10px;
    border-radius: 10px;
    .titulo {
        padding: 5px 10px 5px 10px;
    }
    p {
        padding: 10px;
        text-align: center;
        line-height: 1.3;
    }
}

.contacto-contenido {
    display: flex;
    justify-content: space-around;    
    border: $estilo-border;    
    background-color: bg-color;
    margin: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-self: baseline;
        .form-datos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
            border: $estilo-border;    
            background-color: bg-color;
            margin: 10px;
            border-radius: 10px;
            padding: 10px;
            line-height: 22px;
            input, textarea {
                font-family: inherit;
                background-color: #ffffff;
                border: 1px solid #b7b7b7;
                border-radius: 2px;
                padding: 5px 0px;
                margin: 5px 0px;
                cursor: pointer;
                box-sizing: border-box;
            }
            .boton {
                border-radius: 2rem;    
                height: auto;    
                padding: 10PX;    
                font-size: 0.8rem;
                list-style-type: none; 
                text-align: center;
                font-weight: bolder;
                background:rgb(75, 1, 1);
                color: rgb(248, 193, 186);
                text-decoration: none;
            }
        }
    }
    .ubicacion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        p {
            padding: 10px;
            text-align: center;
        }
        aside iframe {
            text-align: center;
            padding: 5px 30px 5px 30px;
        }
    }
}





