/*variables*/
$estilo-border:1px solid rgb(183 97 97 / 39%);
$bg-color:  rgb(227 66 51 / 7%);

/***** APLICO MAP-GET() *****/
$colores: ( 
    bg-body: rgb(247, 220, 217),
    bg-header:  rgb(248, 193, 186),
    color: brown,
);