
@import "index";
@import "masajes";
@import "promociones";
@import "contacto";
@import "conocenos";
@import "variables";
@import "mixins";

/****** MIXINS ******/
.boton {
    @include botones;   
}
.contacto-contenido .form .form-datos .boton-limpiar-form {
    @include botones;
}
.contacto-contenido .form .form-datos .boton-enviar-msj {
    @include botones;
}

.grid-container-promo .promo .img-promo img {
    @include estilo-img;
}

.grid-container .masajes-article .masajes-article-img img {
    @include estilo-img;
}

/****** ANIMACIONES ******/
@keyframes animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.logo {
    animation: ease-in animation 1s;
}

/****** ESTILOS GENERALES ******/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: map-get($colores, bg-body);    
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 1rem;    
}

i {
    color: rgb(253, 175, 175);
    padding: 5px;
}

em {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: brown;
    font-size: 2.5rem;   
    text-shadow: 2px 3px 4px rgba(10, 8, 8, 0.6); 
}

header {
    background-color: map-get($colores, bg-header);
    width: 100%;
}


h1 h2 h3 {
    text-align: center;
    padding: 10px;
    color: map-get($colores, color);
}

aside {
    margin: 10px;
}

a {
    text-decoration: none;
}

.titulo {
    color: map-get($colores, color);
    text-align: center;
    padding: 10px; 
    text-shadow: 2px 3px 4px rgba(255, 101, 101, 0.6);
    h1 {
        transition:7s; 
    }    
}

/****** ENCABEZADO CON NESTING ******/
.encabezado{ 
    display: flex ;     
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgb(250, 174, 164);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    .logo {
        width: 20%;
        text-align: center; 
        color: brown;
        font-size: 20px; 
        font-weight: bolder;
        font-style: italic;
        img {
            width: 125px ;
            height: auto;
             border-radius: 20%;
        }    
    }        
}

.navegacion-principal {
    width: 50%;
    text-align: center;
    align-items: center;
    color: rgb(248, 193, 186);
    input[type="checkbox"], .fa-bars,.fa-times {
        opacity: 0;
    }
    ul {
        display: flex;
        justify-content: left;
        list-style: none;
        padding: 20px;
        li {
            text-decoration: none;
            width: 30%;
            margin: 5px;
            background:rgb(75, 1, 1);
            border-radius: 2rem;
            color: rgb(248, 193, 186);
            font-size: 1.2rem;
            line-height: 2.5rem;
            color: rgb(248, 193, 186);
            text-align: center;
            &:hover a {
                background:rgb(167, 41, 41);
                border-radius: 2rem;
                color: rgb(235, 197, 187);    
            }
            a {
                display: block;
                text-decoration: none;
                font-size: 1.2rem;
                line-height: 2.5rem;
                color: rgb(248, 193, 186);
            }
        }
    }
}

/****** FOOTER CON NESTING ******/
.pie-de-pagina {
    display: flex;    
    color: rgb(75, 1, 1);
    width: 100%;
    margin-top: 40px;    
    background-color: brown;
    .logo {
        display: flex;
        width: 50%;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        img {
            width: 200px;
            height: auto;
            border-radius: 20%;
        }    
    }
    .contactanos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 70%;
        padding-left: 100px;
        font-size: 15px;
        color: rgb(253, 175, 175);        
        p {
            margin: 1px;
        }
        span {    
            padding: 0px 0px 0px 10px;
        }
        .redes {
            display: flex;
            padding-left: 20px;
            ul {
                display: flex;   
                list-style-type: none;
                margin: 0px; 
                li {
                    width: 80%;
                    list-style-type: none; 
                }   
            }
        }
    }
} 

/******MEDIA QUERIES******/
/*Tablet*/
@media only screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;        
    }

    h2 {
        font-size: 1rem;
    }

    .encabezado{ 
        display: flex ;     
        justify-content: space-between;
        align-items: start;
        margin-bottom: 5px;
        margin: 0 0 40px 0;
        border-bottom: 1px solid rgb(250, 174, 164);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;   
    } 

    
    .navegacion-principal {
        color: white;
        position: relative;        
        min-height: 40px;
        ul {
            flex-direction: column;
            display: flex;
            background-color: brown;     
            padding: 5px;
            li {
                margin: 0;
                a {        
                    font-size: 1.2rem;        
                    padding: 5px 5px;      
                    color: inherit;
                    text-decoration: none;
                    display: block;
                    border-bottom: 2px solid rgb(235, 197, 187);    
                    max-width: 200px;
                    background:brown;        
                }      
            }      
        }
        input[type="checkbox"], .fa-bars, .fa-times {       
            position: absolute;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
        }
          
        .fa-bars, .fa-times {
            font-size: 40px;
            pointer-events: none;
            color: white;
        }

        input[type="checkbox"] {
            opacity: 0;
        }
        input[type="checkbox"], .fa-bars, .fa-times {
            opacity:100;
            background:brown;
            margin-top: 20px;
        }
        nav {
            display: none;
        }
        input:checked ~ nav {
            display: block;
        }
        input:checked ~ .fa-bars {
            display: none;
        }
        input:not(:checked) ~ .fa-times {
            display: none;
        }
    }         
     
    .pie-de-pagina {
        padding: 1px;
        .logo {
            padding-top: 0px;
            padding-left: 10px;
            img {
                padding: 15px;
            }
        }
        .contactanos {
            font-size: 12px;
            padding-left: 0;
            .redes li a img {
                width: 90%;
                padding-top: 5px;
            }
        }    
    }    

      /*Masajes*/
      .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        .masajes-titulo {
            grid-column: 1/3;
            grid-row: 1/2;
            justify-self: center;
            padding: 10px;    
            text-align: center;
            line-height: 1.3;
            // border: 1px solid rgb(183 97 97 / 39%);
            // background-color: rgb(227 66 51 / 7%);
            border-radius: 10px;
            margin: 10px;
        }
    }   
    

    /*Promociones */        
    .grid-container-promo {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        padding: 10px 0px 10px 0px;
        .promo-titulo {
            grid-column: 1/3;
            grid-row: 1/2;        
            justify-self: center;
            padding: 10px;    
            text-align: left;
            line-height: 1.3;
        }
        .promo {
            display: flex;
            text-align: justify;        
            padding: 20 0 0 10px;
            justify-content: baseline;
            border: 1px solid rgb(183 97 97 / 39%);
            background-color:  rgb(227 66 51 / 7%);
            border-radius: 20px;
        }        
    }
}


/*Mobile*/
@media only screen and (max-width: 576px) {
    /*Index*/
    body {
        font-size: 0.8rem;        
    }

    h2 {
        font-size: 1rem;
    }

    .encabezado{ 
        display: flex ;     
        justify-content: space-between;
        align-items: start;
        margin-bottom: 5px;
        margin: 0 0 40px 0;
        border-bottom: 1px solid rgb(250, 174, 164);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;   
    } 

    
    .navegacion-principal {
        color: white;
        position: relative;        
        min-height: 40px;
        ul {
            flex-direction: column;
            display: flex;
            background-color: brown;     
            padding: 5px;
            li {
                margin: 0;
                a {        
                    font-size: 1.2rem;        
                    width: 100px;
                    padding: 5px 5px;      
                    color: inherit;
                    text-decoration: none;
                    display: block;
                    border-bottom: 2px solid rgb(235, 197, 187);    
                    max-width: 200px;
                    background:brown;        
                  }      
            }      
        }
        input[type="checkbox"], .fa-bars, .fa-times {       
            position: absolute;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
        }
          
        .fa-bars, .fa-times {
            font-size: 40px;
            pointer-events: none;
            color: white;
        }

        input[type="checkbox"] {
            opacity: 0;
        }
        input[type="checkbox"], .fa-bars, .fa-times {
            opacity:100;
            background:brown;
            margin-top: 20px;
        }
        nav {
            display: none;
        }
        input:checked ~ nav {
            display: block;
        }
        input:checked ~ .fa-bars {
            display: none;
        }
        input:not(:checked) ~ .fa-times {
            display: none;
        }
    }    
    
    .bienvenida .texto p {
         letter-spacing: 0rem;
         margin: 7px;
         padding: 5px; 
    }

    .bienvenida .imagen {
    padding: 0px;
    margin: 10px 5px 10px 5px;
    }

    .pie-de-pagina {
        padding: 1px;
        .logo {
            padding-top: 0px;
            padding-left: 10px;
            img {
                padding: 15px;
            }
        }
        .contactanos {
            font-size: 10px;
            padding-left: 0;
            .redes li a img {
                width: 90%;
                padding-top: 5px;
            }
        }    
    }

    /*Masajes*/
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        .masajes-titulo {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: center;
            padding: 10px;    
            text-align: center;
            line-height: 1.3;
            // border: 1px solid rgb(183 97 97 / 39%);
            // background-color: rgb(227 66 51 / 7%);
            border-radius: 10px;
            margin: 10px;
        }
    }
    
    /*Promociones */        
    .grid-container-promo 

    .grid-container-promo {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        .promo-titulo {
            grid-column: 1/2;
            grid-row: 1/2;        
            justify-self: center;
            padding: 10px;    
            text-align: left;
            line-height: 1.3;
        }
        .promo {
            display: flex;
            text-align: justify;        
            padding: 20 0 0 10px;
            justify-content: baseline;
            border: 1px solid rgb(183 97 97 / 39%);
            background-color:  rgb(227 66 51 / 7%);
            border-radius: 20px;            
        }        
    }    
}
    
