body{
    padding: 0;
    margin: 0;
    scroll-margin: 0;
    background-color: rgb(247, 220, 217);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h2 h3 {
    margin: 5px;
    padding: 0;
}

article {
    padding-right: 80px;
    margin-top: 10px;
}

article img {
    border-radius: 10px;
    height: 180px;
    width: auto;
}

p {
    margin: 10px;
}

aside {
    padding: 10px;
}

section {
    margin: 10px;
    padding: 10px;
}

.titulo {
    color: brown
}
/*HEADER*/
.encabezado{    
    background-color: rgb(248, 193, 186);
    padding: 7px;
    display: inline-flex;
    width: 100%;
}

.logo {
    width: 20%;
    text-align: center;
    color: brown;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}

.logo p {
    padding: 5px;
}

.menu {
    width: 80%;
    text-align: center;
    align-items: center;
    color: rgb(248, 193, 186);
}


.navegacionPrincipal {
    width: 85%;
    font-size: 8px;
    align-items: center;
}

.navegacionPrincipal {
    list-style-type: none; 
    text-align: center;
    font-weight: bolder;
}

.navegacionPrincipal > ul li {
    display: inline-block;
    width: 15%;
    background: var(--primario);
    background:rgb(75, 1, 1);
    border-radius: 2rem;
    color: rgb(248, 193, 186);
}

.navegacionPrincipal li a {
    display: block; 
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: rgb(248, 193, 186);
}

.navegacionPrincipal li:hover a {
    background:rgb(167, 41, 41);
    border-radius: 2rem;
    color: rgb(235, 197, 187);
    
}

.navegacionPrincipal li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}

.navegacionPrincipal li:hover ul { 
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    z-index: 5;
}

/* MAIN */
main {
    margin: 50px;
    padding: 20px;    
}

.promo {
    display: inline-flex;
}

.imagenes {
    text-align: center;
    margin-bottom: 30px;
}

.bienvenida {
    position: relative;
}

.texto  {
    position: absolute;
    left: 350px;
}

.imagen {
    position: relative
}

.tiposMasajes  {
    padding: 15px;
    display: inline-flex;
}

.turnos {
    display: inline-flex;
}

.reservas {
    padding: 20px;
}

.contactos {
    padding: 20px;
}

.turnos p {
    padding-bottom: 20px;
}
.contactos p {
    padding-bottom: 20px;
}

.sec2  {
    display: inline-flex;
    padding: 10px;
}

.sec2 .form {
    padding: 10px;
    margin: 10px;
}

.sec2 .ubicacion {
    padding: 10px;
    margin: 10px;
}

form {
    padding: 20px;
    
}

/*FOOTER*/
.pieDePagina{
    color: rgb(75, 1, 1);
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    justify-content: center;
    background-color: brown;
}

.pieDePagina .logo {
    width: 30%;
    padding-top: 15px;
    
    display: inline;
}

.redes ul li  {
    width: 80%;
    list-style-type: none; 
    display: inline;
}

    

.contactanos {
    width: 70%;
    padding-left: 100px;
    display: inline;
    font-size: 15px;
    color: rgb(255, 135, 135);

}

.contactanos p {
    padding-top: 5px;
}

.derechos {
    display: block;
    width: 100%;
}

/* BOTONES */
.boton {
    border-radius: 2rem;
    width: 40%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
    list-style-type: none; 
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    background: var(--primario);
    background:rgb(75, 1, 1);
    border-radius: 2rem;
    color: rgb(248, 193, 186);
    text-decoration: none;
}

.boton:hover {
    cursor: pointer;
}
.botonTurno {
    border-radius: 2rem;
    width: 10%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
    list-style-type: none; 
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    background: var(--primario);
    background:rgb(75, 1, 1);
    border-radius: 2rem;
    color: rgb(248, 193, 186);
    text-decoration: none;
}

.imgpromo img {
    height: 300px;
    width: auto;
}

.textopromo {
    font-size: 15px;
}